
body {
font-size:185%;
font-family: 'Josefin Sans', sans-serif;
color:#000000;
background-color:#FFFFFF;
}

h1{
text-align: center;
}


.nav {
width:800px;
margin:0 auto;
list-style:none;
}

.nav li{
    float:left;
    display:inline;

}
.nav a{
/*    display:inline;*/
/*    padding:10px;*/ 
  display:block;
    text-align:center;
    text-decoration: none;
    width:150px;
    color: #33CCFF;

    
}

.nav a:hover {
    color: #FFFFFF;
}

img{
    max-width:70%;
    display: block;
    margin: 100px;
    margin-left: auto;
    margin-right: auto;
}

.text{
  text-align: center
}

