a {text-decoration: none}

.title{
   text-align: center;
   font-size:600%;
   font-family: 'Lobster Two', cursive;
}

h1{
text-align: center;
font-family: 'Josefin Sans', sans-serif;
}

.text{
  text-align:center;
  font-size:100%;
  font-family: 'Sanchez', serif;
}

.text:link{
  text-decoration: none;
}

.nav{
  width:800px;
  margin:0 auto;
  list-style:none;
  font-size:180%;
font-family: 'Josefin Sans', sans-serif;
}

.nav li{
    float:left;
    display:inline;

}
.nav a{
  display:block;
    text-align:center;
    text-decoration:none;
    width:150px;
    color: #33CCFF;  
}

.nav a:hover {
    color: #B2E6FF;
}

img{
    max-width:70%;
    display: block;
    margin: 100px;
    margin-left: auto;
    margin-right: auto;
}
