
body {
font-size:185%;
font-family: 'Josefin Sans', sans-serif;
color:#000000;
background-color:#FFFFFF;
}

img{
    max-width:70%;
    display: block;
    margin: 100px;
    margin-left: auto;
    margin-right: auto;
}

.text{
  text-align: center
}
